<div class="col-md-4" *ngFor="let person of persons">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{person.nombres}}
            {{person.apellidos}}
            <button class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <div class="card-body">
            <p>Documento: {{person.fk_tipodocumento}} Nº: {{person.documento}}</p>
            <p>Lugar de Residencia: {{person.lugaresidencia}}</p>
            <p>Correo Electronico: {{person.email}}</p>
            <p>Telefono: {{person.telefono}}</p>
            <p>Usuario: {{person.usuario}}</p>
            <a href="" class="btn btn-info btn-block">Edit Person</a>
        </div>
    </div>
</div>